*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    body{
    background-color: rgb(39, 66, 82);
    display: flex;
    justify-content: center;
    align-items: center;
}
    
    img{
    border-radius: 8px;
    margin: 0px auto;
    margin-top: 10px;
    margin-left: 5px;
    }
    
    .nullaska{
    width: 440px;
    height: 250px;
    color: white;
    text-shadow: 0px 0px 2px white;
    box-shadow: -4px -4px 20px black;
    border-radius: 0px;
    flex-direction: column-reverse;
    margin-left: 5px;
    position: relative;
    top: 15px;
    padding: 1px;
    }


    .nullnull{
    position: relative;
    top: -130px;
    }



    .budapest{
    font-size:  20px;
    margin-top: 150px;
    position: relative;
    left: 5px;
    }
    
    .harmincas{
    font-size: 30px;
    position: relative;
    left: 10px;
    }
    
    .vihar{
    position: relative;
    left: 5px;
    }

    .cloudy{
    box-shadow: -2px -2px 10px black;
    background-color: lightgrey;
    padding: 6px;
    width: 100px;
    height: 90px;
    content: url(rainy.png);
    position: relative;
border-radius: 5px;
opacity: 0.5;
left: 175px;
bottom: -15px;
margin-top: 25px;
    }
    
    
    
    
    
    
    
    .container1{
    background-image: url("heavy.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: rgb(6, 94, 172);
    
    margin-left: 10px;
    width: 450px;
    height: 650px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
    margin-top: 20px;
    }
    
    

    .egyeske{
    border: 1px solid rgb(248, 245, 245);
    margin: 0px 20px 0px 20px
    padding: 25px;
    background-color: aliceblue;
    opacity: 0.5;
    width: 130px;
    height: 120px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: -4px -4px 20px rgb(14, 11, 11);
    color: rgba(0,0,0,0.7);
    font-weight: bolder;
    position: relative;
    bottom: -40px;
    left: 20px;
    }
    

    .ketteske{
    border: 1px solid rgb(248, 245, 245);
    position: relative;
    padding-top: 20px;
    background-color: aliceblue;
    opacity: 0.5;
    width: 130px;
    height: 120px;
    border-radius: 5px;
    box-shadow: -2px -2px 10px black;
    color: rgba(0,0,0,0.7);
    font-weight: bolder;
    bottom: 80px;
    left: 300px;
    }
    
    .harmaska{
    border: 1px solid rgb(248, 245, 245);
   position: relative;
    padding: 25px;
    background-color: aliceblue;
    opacity: 0.5;
    width: 130px;
    border-radius: 5px;
    height: 120px;
    box-shadow: -2px -2px 10px black;
    color: rgba(0,0,0,0.7);
    font-weight: bolder;
    bottom: 60px;
    left: 20px;
    }
    
    .negyeske{
    border: 1px solid rgb(248, 245, 245);
    padding: 23px;
    background-color: aliceblue;
    opacity: 0.5;
    width: 130px;
    height: 120px;
    border-radius: 5px;
    box-shadow: -2px -2px 10px black;
    color: rgba(0,0,0,0.7);
    font-weight: bolder;
    position: relative;
    bottom: 180px;
    right: -300px;
    }



























/*
.container2{
border: 1px solid lightblue;
padding: 60px;
align-content: center;
justify-content: center;

}

h3{


color: white;

}




























































/*

    
p{
display: inline;
color: white;
margin: 20px;
padding: 1px;
border-radius: 5px;
box-shadow: 0px 0px 5px black;
border: 1px solid lightskyblue;
}
    


.container{
background-image: linear-gradient(to right top, rgb(95, 219, 219), rgb(124, 160, 206), rgb(70, 150, 204), rgb(81, 122, 211), yellow);
width: 400px;
height: 500px;
margin: 0px auto;
margin-top: 40px;
border: 1px solid rgb(48, 94, 155);
border-radius: 7px;
box-shadow: 0px 0px 20px black;

}

.nap{
margin: 5px 5px 5px 315px;
display: block;
width: 80px;
height: 80px;
border-radius: 100px;
background-image: radial-gradient(red, orange, yellow, yellow);
align-items: flex-end;
opacity: 0.2;
box-shadow: 20px 10px 80px rgb(138, 138, 38);
box-shadow: 0px 0px 5px black;

}

.varos{

color: rgb(247, 245, 245);
font-size: x-large;
border: 1px solid lightskyblue;
display: flex;
position: relative;
}

.container2{
border: 1px solid lightblue;
border-radius: 7px;
margin: 50px 9px 0 9px;
box-shadow: 0px 0px 6px black;
margin: 0px auto;
width: 300px;
height: 380px;
display: flexbox;
}

.harmincketto{
display: block;
width: 40px;
border: 1px solid lightskyblue;
/*
width: 50px;
height: 50px;
background-color: white;
color: black;
border-radius: 100%;




        <div class="container2">

            <p class="varos">Budapest</p>

            <div class="adat2">

                <div class="homerseklet">
                <p>Kedd</p>
                <p class="harmincketto">32 C</p>



                    <div>

                        
                    </div>


                <div class="container3">
                <img class="wind" src="wind.jpg" alt="windy weather">
                <p>asd asda</p>
                <img class="cloudy" src="cloudy.png" alt="cloudy">
                <p>asd asd</p>
                </div>

                <div class="container4">
                <img class="hold" src="hold.png" alt="hold">
                <p>asdasd</p>
                </div>



}

.homerseklet{
margin-bottom: 20px;
}



.wind{
display: block;
width: 50px;
height: 50px;
border-radius: 100%;
margin-left: 15px;
box-shadow: 0px 0px 5px black;
}

.hold{
display: block;
width: 50px;
height: 50px;
background-color: white;
border-radius: 100%;
margin-left: 15px;
margin-top: 15px;
box-shadow: 0px 0px 5px black;

animation: rotation infinite;
rotate: 180deg;
}

.cloudy{
display: block;
width: 50px;
height: 50px;
background-color: white;
border-radius: 100%;
margin-left: 15px;
margin-top: 15px;
box-shadow: 0px 0px 5px  black;
}

img{
border: 1px solid lightskyblue;
}
/*
.adat2{
width: 80px;
padding: 20px;
background-color: rgb(151, 151, 206);
border: 1px solid blue;
border-radius: 7px;
color: rgb(17, 16, 16);
filter: blur(0.5px);
opacity: 0.2px;
}



.container3{
columns: 100px;


}

    
*/








